html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    script(src='https://kit.fontawesome.com/b247512fb6.js')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-5783918-3')
    script
      include ga.js



  body
    .center-div
      p 🇺🇦 Michael Khait - Teams / Software / Design
      p
        a(href="https://linkedin.com/in/mkhait")
          i.fab.fa-linkedin 
        span  |  
        a(href="https://github.com/mikkhait") 
          i.fab.fa-github
        span  |  
        a(href="https://twitter.com/mkhait")
          i.fab.fa-twitter
        span  |  
        a(href="mailto:mkhait+khait@gmail.com") 
          i.fas.fa-at