html
  head
    title= title
  body
    h1= message

    a(href="https://www.linkedin.com/in/mkhait")  LinkedIn
    br
    a(href="https://github.com/mikkhait") Github
    br
    a(href="mailto:mkhait@gmai.com") Email

    h2= "Bye now"